<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="test.Properties.Settings.dboConnectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\magazine\dbo.mdb"
         providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>